.main {
  display: flex;
  justify-content: center;
  width: 100vw;
  height: 91.5vh;
}

.cardpane {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: flex-start;
  gap: 1.5rem 0px;
  margin-top: 153px;
}

.main-padding {
  padding: 2rem 0;
  box-sizing: border-box;
}